@model PagedList.IPagedList<DonationMgrApp.Models.Organisation>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-lg-6">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-6">
            @using (Html.BeginForm())
            {
                <p>
                    Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
                    <input type="submit" name="name" value="Find" />
                </p>
            }
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Org Id", "Index", new { Sorting_Order = ViewBag.SortingId })
            </th>
            <th>
                @Html.ActionLink("Org Name", "Index", new { Sorting_Order = ViewBag.SortingName })
            </th>
            <th>
                Actions
            </th>
        </tr>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(rowNo += 1)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    <a href="" data-id="@item.id" class="deleteOgr">Delete</a>
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_value = ViewBag.FilterValue, autoIncr_value = ViewBag.SortingId }))
